.root   {  
    -fx-font-family : "monospace"; 
    -fx-font-weight:  600;
/* FontWieght.BOLD  */
    -fx-background-color: #ffffff;
    -fx-focus-color: transparent;
    /* -fx-faint-focus-color: transparent; */
    } 
    
    .button {
        /* -fx-font: 16px; */
        -fx-font-weight: 600;
       
        /* -fx-padding: 10; */
        /* -fx-background-color: #fbeee0; */
        -fx-background-color: #e6d8d8;
        -fx-border-radius: 50px;
        /* -fx-border-width: 2px; */
        /* -fx-border-color: black; */
        -fx-background-radius: 20;
    }

    .button:hover {
      -fx-background-color: #f7efe7;
  }
    
    .toggle-button{
      -fx-height: 15px;
      /* -fx-background-color: #ecd9d9; */
      -fx-background-color: rgb(102, 140, 162);
      -fx-border-radius: 20;
      -fx-background-radius: 20;
    }

    .toggle-button:selected {
      -fx-background-color: rgb(149, 177, 194);
  }

  .listViewCell{
    -fx-height: 30px;
    -fx-spacing: 30;
    -fx-padding: 20;
    /* -fx-background-color: #e7c5c5; */
    -fx-background-color: #f3ecec;
    /* -fx-background-color: rgb(219, 110, 149); */
    -fx-border-radius: 50px;
    -fx-background-radius: 20;
    -fx-font: 16px;
    -fx-font-weight: 700;
    /* -fx-font-size: 17px; */
  }

  .listViewCell:hover{
    -fx-background-color: #e6d8d8;

  }

  .choice-box{
    /* -fx-height: 30px; */
    /* -fx-spacing: 30; */
    /* -fx-padding: 20; */
    /* -fx-background-color: #ecd9d9; */
    /* -fx-background-color: white; */
    /* -fx-border-radius: 50px; */
    /* -fx-background-radius: 20;
    -fx-border-color: rgb(221, 221, 221); */
    -fx-background-color: white;
    -fx-border-color: rgb(221, 221, 221);

    -fx-border-radius: 6px;
    
  }
  .text-field{
    /* -fx-background-color: -fx-text-box-border, -fx-control-inner-background; */
    -fx-background-color: white;
    -fx-border-color: rgb(221, 221, 221);

    -fx-border-radius: 6px;
    -fx-control-inner-background: #ffffff;
    -fx-background-insets: 0;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-focus-color: transparent;
  }
  .text-area{
    -fx-background-color: white;
    -fx-border-color: rgb(221, 221, 221);

    -fx-border-radius: 6px;
    -fx-control-inner-background: #ffffff;
    -fx-background-insets: 0;
    /* -fx-background-color: -fx-text-box-border, -fx-control-inner-background; */
    -fx-focus-color: transparent;
  }

  .clear{
    -fx-border-color: BLACK; 
    -fx-background-color: WHITE"
  }

    