# Members of group 15
Juni Sæther Skarpaas <juniss@stud.ntnu.no>
Isabelle Galleberg <isabeg@stud.ntnu.no>
Frida Rapp Karlsen <fridark@stud.ntnu.no> <frida.karlsen@hotmail.com>
Nicoline Mork <nicolimo@stud.ntnu.no> <nicolimo@stud.ntnu> <junitrigger@gmail.com>
